html {
  font-size: 62.5%;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  background-color: #f4f4f4;
}
.encabezado {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0%;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 10vh;
  background-color: #24282b;
  border-bottom: solid 5px #1293d4 ;
}
.title-navbar {
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
span {
  color: #1293d4;
}
.lista-navbar {
  display: flex;
  flex-direction: row;
}
.lista-navbar li a {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.lista-navbar li a:hover {
  color: #1293d4;
}
.suscribirse {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #24282b;
}
.suscribirse h3 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}
.email {
  width: 30rem;
  height: 2.5rem;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1rem;
}
.btn {
  background-color: #e8491d;
  width: 10rem;
  height: 3.8rem;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0.2rem;
}
.btn:hover {
  background-color: #ff2600;
  color: #24282b;
}
.all-services {
  display: flex;
  flex-direction: row;
  max-height: 70vh;
  justify-content: space-evenly;
}
.services {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.services h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0 0;
  margin-left: 5%;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #80808070;
  border-radius: 1.5rem;
  background-color: #e6e6e6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 2rem 0;
  margin-left: 5%;
  padding: 1.5rem;
}
.card h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.card p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.doing {
  width: 30%;
  height: 30%;
  color: white;
  border-radius: 1.5rem;
  background-color: #35424a;
  margin: 2rem 0;
  margin-left: 3%;
  margin-right: 3%;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.doing h2 {
  margin-bottom: 0;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.doing p {
  margin: 1rem 0;
  font-size: 1.5rem;
  align-content: space-around;
}




.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #1293d4;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  gap: 1rem;
}
.redes-sociales {
  font-size: 3.5rem;
  text-decoration: none;
}
.redes-sociales a {
  color: rgb(0, 0, 0);
}

/********* MEDIA QUERIE CELULAR **********/
@media screen and (max-width: 480px) {
  .encabezado {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0%;
    padding: 1rem 0;
    gap: 1.5rem;
  }
  .lista-navbar li a {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .suscribirse {
    position: sticky;
    top: 8.9rem;
    display: flex;
    flex-direction: column;
    height: 16.9%;
    text-align: center;
  }
  .suscribirse h3 {
    font-size: 2rem;
  }
  .email {
    width: 30rem;
    height: 2.3rem;
    font-size: 1.3rem;
    text-align: center;
  }
  .btn {
    height: 3rem;
    margin-bottom: 0.5rem;
  }
  .all-services {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }
  .services {
    align-items: center;
    width: 100%;
  }
  .card {
    margin-left: 0%;
    width: 85%;
  }
  .doing {
    width: 85%;
  }
  /* .redes-sociales {
    font-size: 2.5rem;
    text-decoration: none;
  }
  .redes-sociales a {
    color: rgb(0, 0, 0);
  } */
}