html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #f4f4f4;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 10vh;
  background-color: #24282b;
  border-bottom: solid 5px #1293d4 ;
}

.title-navbar {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

span {
  color: #1293d4;
}

.lista-navbar {
  display: flex;
  flex-direction: row;
}

.lista-navbar li a {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  
}

.lista-navbar li a:hover {
  color: #1293d4;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: 40vh;
  background-image: url(img/cabecera.jpg);
  background-position: 100%;
  background-size: cover;
}

.texto-principal {
  max-width: 70%;
}

.texto-principal h1 {
  color: white;
  font-size: 6.5rem;
  font-weight: bold;
  margin: 2rem;
}

.texto-principal p {
  font-size: 2rem;
  color: white;
  text-align: justify;
}

.suscribirse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 10vh;
  background-color: #24282b;
}

.suscribirse h3 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}

.email {
  width: 30rem;
  height: 2.5rem;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
}

.btn {
  background-color: #e8491d;
  max-width: 10rem;
  height: 3.82rem;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.2rem;
}

.servicios {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 30vh;
}

.lista-servicios ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lista-servicios li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 28vw;
  margin: 2rem;
}

.lista-servicios img {
  max-width: 13rem;
}

.lista-servicios h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.lista-servicios p {
  font-size: 1.5rem;
  text-align: justify;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #1293d4;
  font-size: 1.5rem;
  color: white;
  gap: 1rem;
}

.redes-sociales {
  font-size: 3.5rem;
  text-decoration: none;
}
.redes-sociales a {
  color: white;
}

/* ****************STYLE NOSOTROS***************** */

.about {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  justify-content: space-evenly;
  height: auto;
}

.nosotros {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 70vh;
  margin: 0 2rem;
}

.titulo-nosotros {
  margin: 2rem 0;
}

.hacemos {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: 70vh;
  margin: 0 2rem;
}

.articulo-hacemos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #35424a;
  color: white;
}

.titulo-hacemos {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  padding: 1rem;
}

.parrafo-hacemos {
  display: flex;
  font-size: 1.7rem;
  height: auto;
  text-align: justify;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.titulo-nosotros {
  font-size: 3rem;
  font-weight: bold;
}

.primer-parrafo {
  font-size: 1.7rem;
  height: auto;
  padding: 1rem;
  text-align: justify;
}

.segundo-parrafo {
  display: flex;
  font-size: 1.7rem;
  height: auto;
  background-color: #35424a;
  color: white;
  margin: 2rem 0;
  text-align: justify;
  padding: 1rem;
  align-content: center;
  flex-wrap: wrap;
}

.img-laptop {
  width: auto;
  margin: 2rem 0;
}



/* ***************MEDIA QUERIES******************/

/********* MEDIA QUERIE TABLET INDEX*********/
@media screen and (max-width: 768px) {
  .encabezado {
    display: flex;
    flex-direction: column;
  }
  .title-navbar {
    font-size: 3rem;
  }
  .encabezado li a {
    font-size: 1.5rem;
  }
  .descripcion {
    justify-content: center;
    background-size: 100%;
  }
  .texto-principal {
    width: 100%;
  }
  .texto-principal h1 {
    font-size: 5rem;
    margin: 0.5rem;
  }
  .texto-principal p {
    font-size: 1.7rem;
    text-align: justify;
    margin: 1rem;
  }
  .suscribirse {
    flex-direction: row;
  }
  .suscribirse h3 {
    font-size: 2rem;
  }
  .boton-suscribirse {
    display: flex;
    flex-direction: column;
  }
  .servicios {
    flex-direction: column;
    height: auto;
  }
  .lista-servicios ul {
    flex-direction: column;
    align-items: center;
  }
  .lista-servicios li {
    width: auto;
    margin: 1rem;
    text-align: justify;
  }
  .lista-servicios img {
    width: 12rem;
  }
  .copyright {
    position: unset;
    font-size: 1.2rem;
    height: 6vh;
  }
  .redes-sociales {
    font-size: 2rem;
  }
}

/*********MEDIA QUERIE LANDSCAPE INDEX***********/
@media (orientation: landscape) and (max-width: 860px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .encabezado {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0 1rem 0;
  }
  .encabezado li a {
    font-size: 1.3rem;
    margin: 0.5rem;
  }
  .descripcion {
    justify-content: center;
    background-size: 100%;
  }
  .texto-principal h1 {
    font-size: 3rem;
    margin: 0.5rem;
  }
  .texto-principal p {
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem;
  }
  .suscribirse {
    height: auto;
    padding: 0.5rem 0;
  }
  .boton-suscribirse {
    flex-direction: row;
  }
  .servicios {
    flex-direction: column;
    height: auto;
  }
  .lista-servicios img {
    size: 5rem;
  }
  .copyright {
    position: unset;
    font-size: 1.2rem;
    height: 6rem;
    padding: 1rem 0;
  }
  .redes-sociales {
    font-size: 2rem;
  }
}

/********* MEDIA QUERIE CELULAR INDEX*********/
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5rem;
  }
  .title-navbar {
    font-size: 3rem;
  }
  .encabezado li a {
    font-size: 1.3rem;
    margin: 0.5rem;
  }
  .descripcion {
    justify-content: center;
    background-size: 100%;
  }
  .texto-principal {
    width: 100%;
  }
  .texto-principal h1 {
    font-size: 3rem;
    margin: 0.5rem;
  }
  .texto-principal p {
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem;
  }
  .suscribirse {
    flex-direction: column;
    height: 20vh;
    padding: 1rem 0;
  }
  .suscribirse h3 {
    font-size: 2rem;
  }
  .boton-suscribirse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios {
    flex-direction: column;
    height: auto;
  }
  .lista-servicios ul {
    flex-direction: column;
    align-items: center;
  }
  .lista-servicios li {
    width: auto;
    margin: 1rem;
    text-align: justify;
  }
  .lista-servicios img {
    width: 6rem;
  }
  .copyright {
    position: unset;
    font-size: 1.2rem;
    padding: 0.5rem 0 0.5rem 0;
  }
  .redes-sociales {
    font-size: 2rem;
  }
}

/* *******MEDIAQUERIE CELULAR NOSOTROS********* */

@media screen and (max-width: 480px) {

  .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.nosotros {
  display: flex;
  max-width: 100vw;
  height: max-content;
  align-items: center;
  margin: 0;
}

.titulo-nosotros {
  margin: 1rem 0 1rem 0;
}

.primer-parrafo {
  height: auto;
  max-width: 100vw;
  padding: 1rem;
}

.img-laptop {
  margin: 1rem;
  border: solid 5px #1293d4 ;
}

.segundo-parrafo {
  max-width: 100vw;
  height: auto;
  padding: 1rem;
  margin: 0;
}

.hacemos {
  max-width: 100vw;
  margin: 0;
  height: auto;
}

.articulo-hacemos {
  padding: 1rem;
  margin: 0;
  gap: 1rem;
}

.titulo-hacemos {
  margin: 0;
  padding: 0;
}

.parrafo-hacemos {
  padding: 0;
  height: auto;
}

}