html {
  font-size: 62.5%;
}

body {
  font-family:Arial, Helvetica, sans-serif
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4.5vw;
  background-color: #24282b;
  border-bottom: solid 5px;
  border-color: #1293d4;
}

.title-navbar {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

span {
  color: #1293d4;
}

.lista-navbar {
  display: flex;
  flex-direction: row;
}

.lista-navbar li a {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}

.descripcion {
width: 100%;
height: 30vw;
background-image: url(img/cabecera.jpg);
background-position: 100%;
}

.suscribirse {
  width: 100%;
  height: 5vw;
  background-color: #24282b;
}

.servicios {
  width: 100%;
  height: 25vw;
}

.copyright {
  width: 100%;
  height: 7vh;
  background-color: #1293d4;
}