html {
  font-size: 62.5%;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  background-color: #f4f4f4;
}
.encabezado {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #24282b;
  border-bottom: solid 5px #1293d4;
}
.title-navbar {
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
span {
  color: #1293d4;
}
.lista-navbar {
  display: flex;
  flex-direction: row;
}
.lista-navbar li a {
  margin: 0 2rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.lista-navbar li a:hover {
  color: #1293d4;
  text-decoration: underline;
}
.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: 35vh;
  background-image: url(img/cabecera.jpg);
  background-position: 100%;
  background-size: cover;
}
.texto-principal {
  max-width: 70%;
}
.texto-principal h1 {
  color: white;
  font-size: 6.5rem;
  font-weight: bold;
  margin: 2rem;
}
.texto-principal p {
  font-size: 2rem;
  color: white;
  text-align: justify;
}
.suscribirse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 10vh;
  background-color: #24282b;
}
.suscribirse h3 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}
.email {
  width: 30rem;
  height: 2.5rem;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
}
.btn {
  background-color: #e8491d;
  width: 10rem;
  height: 3.8rem;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin: 0.2rem;
}
.btn:hover {
  background-color: #ff2600;
  color: #24282b;
}
.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 35vh;
}
.servicios ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.servicios li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #80808070;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 1rem;
  width: 28vw;
  margin: 2rem;
}
.servicios img {
  max-width: 13rem;
}
.servicios h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}
.servicios p {
  font-size: 1.5rem;
  text-align: justify;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #1293d4;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  gap: 1rem;
}
.redes-sociales {
  font-size: 3.5rem;
  text-decoration: none;
}
.redes-sociales a {
  color: rgb(0, 0, 0);
}

/****************** MEDIA QUERIE **********************/

@media (orientation: landscape) and (max-device-width: 1024px) and (min-device-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .encabezado {
    position: sticky;
    top: 0%;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 0.5rem 0 1rem 0;
  }
  .encabezado li a {
    font-size: 1.3rem;
    margin: 0.5rem;
  }
  .descripcion {
    justify-content: center;
    background-size: 100%;
  }
  .texto-principal h1 {
    font-size: 3rem;
    margin: 0.5rem;
  }
  .texto-principal p {
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem;
  }
  .suscribirse {
    height: auto;
    padding: 0.5rem 0;
  }
  .suscribirse h3 {
    text-align: center;
    font-size: 2rem;
  }  
  .boton-suscribirse {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .servicios {
    flex-direction: column;
    height: auto;
  }
  .servicios img {
    width: 5rem;
  }
  .copyright {
    position: unset;
    font-size: 1.2rem;
    height: 10rem;
    padding: 1rem 0;
  }
  .redes-sociales {
    font-size: 2rem;
  }
}
/****************** MEDIA QUERIE **********************/

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .lista-navbar li a {
    font-size: 1.7rem;
  }
  .texto-principal h1 {
    font-size: 5.4rem;
  }
  .suscribirse h3 {
    font-size: 2.5rem;
  }
  .texto-principal p {
    font-size: 1.8rem;
  }
  .copyright {
    position: absolute;
  }
  .copyright p {
    font-size: 1.5rem;
  }
  .redes-sociales a {
    font-size: 3.5rem;
  }
}

/****************** MEDIA QUERIE **********************/

@media screen and (max-width: 768px) and (min-width: 480px){
  .encabezado {
    display: flex;
    flex-direction: column;
  }
  .encabezado li a {
    font-size: 2rem;
  }
  .texto-principal h1 {
    font-size: 5rem;
  }
  .suscribirse {
    flex-direction: column;
    height: auto;
  }
  .boton-suscribirse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios {
    align-items: center;
    height: auto;
  }
  .servicios ul {
    flex-direction: column;
    align-items: center;
  }
  .servicios ul li {
    width: 70%;
  }
  .copyright {
    position: unset;
  }
}
/****************** MEDIA QUERIE **********************/

@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0%;
    padding: 1rem 0;
    gap: 1rem;
  }
  .title-navbar {
    font-size: 4rem;
  }
  .encabezado li a {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .descripcion {
    justify-content: center;
    background-size: 100%;
  }
  .texto-principal {
    width: 100%;
  }
  .texto-principal h1 {
    font-size: 3.2rem;
    margin: 0.5rem;
  }
  .texto-principal p {
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem;
  }
  .suscribirse {
    flex-direction: column;
    justify-content: center;
    height: 16.5vh;
  }
  .suscribirse h3 {
    font-size: 2rem;
  }
  .boton-suscribirse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email {
    width: 30rem;
    height: 2.3rem;
    font-size: 1.3rem;
    text-align: center;
  }
  .btn {
    height: 3rem;
    margin-bottom: 0.5rem;
  }
  .servicios {
    flex-direction: column;
    height: auto;
  }
  .servicios ul {
    flex-direction: column;
    align-items: center;
  }
  .servicios li {
    width: auto;
    margin: 2rem 0;
    text-align: justify;
    border: 1px solid #80808070;
    width: 85%;
    padding: 1rem;
    background-color: #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .servicios img {
    width: 6rem;
  }
  .copyright {
    position: unset;
    font-size: 1.5rem;
    padding: 0.66rem 0;
  }
  .redes-sociales {
    font-size: 2.5rem;
  }
}
/****************** MEDIA QUERIE **********************/

@media (orientation: landscape) and (max-device-width: 944px) {
  .encabezado {
    top: 0%;
    padding: 0.5rem 0 1rem 0;
  }
  .texto-principal h1 {
    font-size: 3.5rem;
    margin: 0.5rem;
  }
  .texto-principal p {
    font-size: 1.6rem;
    text-align: justify;
  }
  .suscribirse {
    height: auto;
    padding: 0.5rem 0;
  }
    .servicios {
    flex-direction: column;
    height: auto;
  }
  .servicios img {
    width: 8rem;
  }
  .copyright {
    position: unset;
    font-size: 1.2rem;
    height: 15vh;
    padding: 1rem 0;
  }
  .redes-sociales {
    font-size: 2rem;
  }
}
